services:
  - type: web
    name: backend
    env: python
    buildCommand: pip install -r requirements.txt
    startCommand: uvicorn app.main:app --host 0.0.0.0 --port $PORT
    envVars:
      - key: MONGODB_URI
        fromDatabase:
          name: snapdevproject
          property: connectionString
      - key: JWT_SECRET
        generateValue: true
      - key: CORS_ORIGINS
        value: "http://localhost:5173,https://demo-project-repo-backend.onrender.com"
    buildFilter:
      paths:
        - backend/**
  - type: web
    name: frontend
    env: static
    buildCommand: npm install && npm run build
    staticPublishPath: ./dist
    routes:
      - type: rewrite
        source: /api/*
        destination: "https://demo-project-repo.onrender.com/api/*"
    envVars:
      - key: VITE_API_URL
        value: "https://demo-project-repo.onrender.com"
    buildFilter:
      paths:
        - frontend/**